/* Sub Menu */

.menu .sub-menu{
  /* background: #1b1b1b; */
  height: 100%;
  width: 100%;
  list-style: none;
}

.menu .sub-menu li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.menu .sub-menu li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.menu .sub-menu li a{
  position: relative;
  color: var(--text-color) !important;
  text-decoration: none;
  font-size: 15px;
  padding-left: 30px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

/* .menu .sub-menu li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
} */

.menu .sub-menu ul{
  position: static;
  display: none;
}

.menu .sub-menu .feat-show.show{
  display: block;
}

.menu .sub-menu .serv-show.show1{
  display: block;
}

.menu .sub-menu ul li{
  line-height: 42px;
  border-top: none;
}

.menu .sub-menu ul li a:hover{
  color: var(--sidebar-color) !important
  
}

.sub-menu a:hover .first {
  color: var(--sidebar-color) !important;
}

.first {
  position: relative;
  top: calc(50% - 12px);
  right: -100px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
  color: var(--text-color) !important;
}

.first.rotate{
  position: relative;
  transform: translateY(-50%) rotate(-180deg);
}

.show li a{
  display: flex !important;
  align-items: center;
  padding-left: 65px !important;
}