body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.p5Canvas{
    z-index: 1;
}
.debug{
    opacity: 0.5;
}
canvas{
    position: absolute;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}
