tbody tr td {
    width: 200px !important;
}

#display {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 50%;
    padding: 30px;
}

.name-car {
    cursor: pointer;
}

.my-button {
    display: flex;
    justify-content: end;
}