body {
    background: url(../../img/my-img/background.jpg);
    background-size: cover;
    min-height: 100vh;
}

.edit-modal {
    position: absolute;
    top: 50%;
    transform: translateY(12%);
}

.modal-title {
    font-size: 35px !important;
}

.modal-header {
    display: flex;
    align-items: center !important
}

.btn-close {
    font-size: 20px !important;
    padding: 7px !important;
}