<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/home/style.css">
    <link rel="stylesheet" href="css/home/header.css">
    <link rel="stylesheet" href="css/home/left-sidebar.css">
    <link rel="stylesheet" href="css/home/right-sidebar.css">
    <link rel="stylesheet" href="css/home/main-content.css">
    <link rel="stylesheet" href="css/home/home-content.css">
    <link rel="stylesheet" href="css/home/add-img.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="fb-nav">

            <div class="title">
                <a href="#">F4kebook</a>
            </div>
            <div class="search-box">
                <i class='bx bx-search icon-search'></i>
                <input id="search-card" type="search" placeholder="Tìm kiếm trên F4kebook">
            </div>
            <div class="home-media">
                <div class="social-media">
                    <a href="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Messenger"><i
                            class='bx bxl-messenger'></i></a>
                    <a href="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Thông báo"><i
                            class='bx bxs-bell'></i></a>
                </div>

                <!-- <div class="ava">
                    <a href=""><i class="bx avatar online" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Tài khoản" style="background-image: url('../../img/home/avatar.jpg')"></i></a>
                </div> -->
                {avatar}
            </div>

        </div>
    </header>

    <div class="fb-container">
        <div class="left-sidebar">
            <div class="container-top-content">
                <li class="links">
                    <a href="">
                        <i class='select bx bxs-home icon'></i>
                        <span class="text nav-text">Trang chủ</span>
                    </a>
                </li>
                <!-- <li class="links link-avatar">
                    <a href="">
                        <div class="left-ava"><i class="bx left-avatar" style="background-image: url('../../img/home/avatar.jpg');"></i></div>
                        <span style="margin-left: 5px;" class="text nav-text">Avatar</span>
                    </a>
                </li> -->
                {sidebar-avatar}
                <hr>
            </div>

            <div class="mid-content">
                <li>
                    <a href="">
                        <i class='watch icon'></i>
                        <span class="text nav-text">Watch</span></a>
                </li>

                <li>
                    <a href="">
                        <i class='page icon'></i>
                        <span class="text nav-text">Trang</span></a>
                </li>

                <li>
                    <a href="">
                        <i class='market icon'></i>
                        <span class="text nav-text">Marketplace</span></a>
                </li>

                <li>
                    <a href="">
                        <i class='game icon'></i>
                        <span class="text nav-text">Trò chơi</span></a>
                </li>

                <li>
                    <a href="">
                        <i class='all-list icon'></i>
                        <span class="text nav-text">Xem tất cả</span></a>
                </li>
                <hr>

                <div class="bottom-content">
                    <li>
                        <a href="">
                            <i class='bx bx-group icon'></i>
                            <span class="text nav-text">Nhóm</span></a>
                    </li>

                    <li>
                        <a href="">
                            <i class='shortcut icon'></i>
                            <span class="text nav-text">Lối tắt</span></a>
                    </li>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="header-content">
                <div class="top-content">
                    <div class="left-top-content top-select">
                        <a href="">
                            <i class='bx bxs-news'><span>Tin</span></i>
                        </a>
                    </div>
                    <div class="right-top-content">
                        <a href="">
                            <i class='bx bxs-movie-play'><span>Reels</span></i>
                        </a>
                    </div>
                </div>

                <div class="body-content">
                    <div class="story-galley">
                        <!-- <div class="story" style="background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('../../img/home/avatar-main.jpg');">
                            <img src="../../img/upload.png" alt="">
                            <h6>Tạo tin</h6>
                        </div> -->
                        {story-avatar}
                        <!-- <div class="story-one">
                        </div>
                        <div class="story-two">
                        </div>
                        <div class="story-three">
                        </div> -->

                    </div>
                </div>
            </div>

            <!-- <div class="home-content">
                <div class="write-post-container">
                    <div class="user-profile">
                        <img src="img/avatar.jpg">
                        <div>
                            <p>Trương Hoàng Anh</p>
                            <small>Public
                                <i class="fas fa-caret-down"></i>
                            </small>
                        </div>
                    </div>
                </div>

                <div class="post-input-container">
                    <textarea name="textarea" id="textarea" placeholder="Bạn đang nghĩ gì thế?" rows="3"></textarea>
                    <div class="add-post-links">
                        <a href="#"><img src="img/live-video.png"> Video trực tiếp</a>
                        <a href="#"><img src="img/photo.png"> Ảnh/video</a>
                        <a href="#"><img src="img/feeling.png"> Cảm xúc/hoạt động</a>

                    </div>
                </div>
            </div> -->
            {write-avatar}


            <!-- <div class="index-content">
                <div class="post-container">
                    <div class="user-profile">
                        <img src="img/avatar.jpg">
                        <div>
                            <p>Trương Hoàng Anh</p>
                            <div class="time-status">
                                <span>8 tháng 7 lúc 20:20</span>
                                <i class="fas fa-globe-americas" style="color: #65676B;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="post-user">
                        <p class="post-text">Lâu rồi mới có thời gian rảnh sau giờ ăn tối cùng gia đình, để đi rửa bát,
                            đi lấy cơm cho bọn này.
                            Mọi ngày phải lấy 3 bát cơm. Hôm nay lấy có 2 bát tự dưng hụt hẫng ghê. Thế là em Dudu 10
                            tuổi đi cùng mẹ Kato rồi. Còn chưa được gặp e Dudu lần cuối đã vội vã với những sự kiện đã
                            được lên kế hoạch trước, kiếm tiền cho đã rồi về không còn bên cạnh những điều mình yêu thì
                            có để làm gì đou chớ
                            Kiếp sau đừng có ngã gãy chân nữa bà Dudu ơi!</p>
                        <img src="img/avatar-main.jpg" class="post-img">

                        <div class="activity-icons"></div>
                    </div>
                </div>
            </div> -->
            {index-content}

        </div>

        <div class="right-sidebar">
            <div class="right-sidebar-ads">
                <h4>Được tài trợ</h4>
                <div class="sidebar-ads">

                    <div class="ads-one">
                        <a href="">
                            <i class="fas fa-times button-remove"></i>
                            <img src="./img/meo.png" alt="">
                            <div class="ads-title">
                                <h5>Meo meo</h5>
                                <span>meo.com</span>
                            </div>
                        </a>
                    </div>

                    <div class="ads-two">
                        <a href="">
                            <i class="fas fa-times button-remove"></i>
                            <img src="./img/shopee.png" alt="">
                            <div class="ads-title">
                                <h5>Shopee</h5>
                                <span>shopee.vn</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="rightbar-birthday">
                <h4>Sinh nhật</h4>
                <div class="birthday-info">
                    <div class="birthday" style="position: relative;"></div>
                    <div class="birthday-content">
                        <p>Hôm nay là sinh nhật của <a href="">Nguyễn Thị Quỳnh.</p></a>
                    </div>
                </div>
            </div>

            <div class="rightbar-contact">
                <h4>Người liên hệ</h4>
                <div class="rightbar-icon">
                    <a href=""><i class='bx bxs-camera-movie right-icon' data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Cuộc gọi mới"></i></a>
                    <a href=""><i class='bx bx-search right-icon' data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Tìm kiếm"></i></a>
                    <a href=""><i class='bx bx-menu right-icon' data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Tùy chọn"></i></a>
                </div>
            </div>

            <div class="rightbar-online">
                {online-list}
            </div>
            
            <!-- <div class="online-list" style="margin-top: 50px;">
                <a href="">
                    <div class="ava-contact">
                        <img src="./img/quynh.jpg" alt="" class="bx avatar-contact online-contact">
                    </div>
                    <div class="name-contact">
                        <h5>Nguyễn Thị Quỳnh</h5>
                    </div>
                </a>
            </div>

            <div class="online-list">
                <a href="">
                    <div class="ava-contact">
                        <img src="./img/nghia.jpg" alt="" class="bx avatar-contact online-contact">
                    </div>
                    <div class="name-contact">
                        <h5>Bùi Hữu Nghĩa</h5>
                    </div>
                </a>
            </div> -->
        </div>
    </div>

    <div class="modal fade" id="modal-add-new-content" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal-title">Tạo bài viết :</h1>
                    <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>
                </div>
                <form id="form-add-content" action="/home" method="post">
                    <div class="modal-body" style="background-color: #f9f8fb;">
                        <div class="mb-id" hidden>
                            <label for="formFile" class="form-label"><span>accId :</span></label>
                            <input class="form-control" value={accId-value} type="text" name="accId" id="client-name"
                                required>
                        </div>
                        <div class="mb-name">
                            <label for="formFile" class="form-label"><span>Content :</span></label>
                            <input class="form-control" type="text" name="content" id="client-name" required>
                        </div>
                        <div class="mb-price">
                            <label for="formFile" class="form-label inputcode"><span>Image :</span></label>
                            <input class="form-control" type="text" name="image" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button id="btn-savecard" class="btn btn-primary ps-5 pe-5">Đăng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Add-New-Img-Content -->
    <div class="modal fade" id="modal-add-new-img-content" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal-title">Thêm ảnh mới :</h1>
                    <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>
                </div>
                <div id="form-add-content">
                    <div class="modal-body" style="background-color: #f9f8fb; padding-bottom: 5px;">
                        <div class="mb-avatar">
                            <label for="formFile" class="form-label inputcode"><span>Chọn ảnh :</span></label>
                            <input type="file" id="image-upload" onchange="uploadImage(event)" hidden>
                            <label for="image-upload" class="file-upload-button">Choose File</label>
                            <span id="file-name" style="font-size: 0px;"></span>
                            <div class="info-progress">
                                <div class="progress">
                                    <div id="upload-progress"
                                        class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 0; min-width: 2em;" hidden="">0%
                                    </div>
                                </div>
                                <div class="image-url" hidden>
                                    <img src="" alt="" id="image-url">
                                </div>
                            </div>
                            <input value="" id="image" class="form-control" type="text" name="avatar" hidden>
                        </div>
                        <div class="mb-notice" hidden>
                            <span id="notice"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button id="btn-savecard" class="btn btn-primary ps-5 pe-5" data-bs-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Add IMG -->
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyDxG2vMNkqz1sf4UGAaMzcaq3lVdAN5C8M",
            authDomain: "users-8f542.firebaseapp.com",
            projectId: "users-8f542",
            storageBucket: "users-8f542.appspot.com",
            messagingSenderId: "351740883393",
            appId: "1:351740883393:web:b9c6a3bba9f040cf3ebf40",
            measurementId: "G-KN5Q9HHHL7"
        };
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
    </script>

    <script type="module">
        import {
            getStorage,
            ref,
            uploadBytesResumable,
            getDownloadURL
        } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-storage.js";

        const storage = getStorage();

        // Create the file metadata
        /** @type {any} */
        const metadata = {
            'jpg': 'images/jpg',
            'jpeg': 'images/jpeg',
            'png': 'images/png'
        };


        function uploadImage(e) {

            var input = event.target;
            if (input.files && input.files[0]) {
                var fileName = input.files[0].name;
                document.getElementById("file-name").textContent = fileName;
            }

            document.getElementById("image-upload").disabled = true
            // let uploader = document.getElementById('uploader');
            let file = e.target.files[0];

            // Upload file and metadata to the object 'images/mountains.jpg'
            const storageRef = ref(storage, 'images/' + file.name);
            const uploadTask = uploadBytesResumable(storageRef, file, metadata);
            document.getElementById("upload-progress").hidden = false;

            // Listen for state changes, errors, and completion of the upload.
            uploadTask.on('state_changed',
                (snapshot) => {
                    // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                    const progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                    console.log('Upload is ' + progress + '% done');
                    let progressBar = document.getElementById("upload-progress");
                    let progressImg = document.querySelector(".progress");
                    progressBar.style.width = Math.round(progress) + "%";
                    progressBar.innerHTML = Math.round(progress) + "%";
                    progressImg.style.margin = "0px 0px 10px 0px";
                    const divElement = document.querySelector('.image-url');
                    divElement.removeAttribute('hidden');
                    const inputElement = document.getElementById('image');
                    inputElement.readOnly = true;
                    switch (snapshot.state) {
                        case 'paused':
                            console.log('Upload is paused');
                            break;
                        case 'running':
                            console.log('Upload is running');
                            break;
                    }
                },
                (error) => {
                    // A full list of error codes is available at
                    // https://firebase.google.com/docs/storage/web/handle-errors
                    switch (error.code) {
                        case 'storage/unauthorized':
                            // User doesn't have permission to access the object
                            break;
                        case 'storage/canceled':
                            // User canceled the upload
                            break;

                        // ...

                        case 'storage/unknown':
                            // Unknown error occurred, inspect error.serverResponse
                            break;
                    }
                },
                () => {
                    // Upload completed successfully, now we can get the download URL
                    getDownloadURL(uploadTask.snapshot.ref).then((downloadURL) => {
                        console.log('File available at', downloadURL);
                        const pElement = document.querySelector('.mb-notice');
                        pElement.removeAttribute('hidden');
                        document.getElementById('notice').textContent = 'Hoàn thành!!!';
                        let image = document.getElementById('image');
                        let imageContent = document.getElementById('image-content');
                        image.value = downloadURL;
                        document.getElementById('image-url').src = downloadURL;
                        // pushNewIMG(downloadURL)
                        setTimeout(() => {
                            document.getElementById("image-upload").disabled = false;
                        }, 500)
                    });
                }
            );
        }

        window.uploadImage = uploadImage;

    </script>

    <script src="index.js"></script>

    <script>
        function confirmDeleteCookie() {
            if (confirm("Bạn có chắc chắn muốn đăng xuất không?")) {
                deleteCookie();
                window.location.href = "sign-in";
            }
        }
        function deleteCookie() {
            document.cookie = "userID=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }
    </script>

</body>

</html>