.playlist-header {
    background: rgb(315E52,255,255);
    background: linear-gradient(180deg, rgb(107, 142, 146) 0%, rgba(119,119,119,1) 100%);
}

.table-song-playlist {
    border-bottom: 1px solid #CACACA;
}

